
<div class="well container">
  <h3 class='text-center'>Stock Search</h3>
  <hr>
  <div class="form-inline text-center">
    <label for="ticker-symbol" class='control-label'>Stock</label>
    <input ng-model='symbol' type="text" class="form-control" id='ticker-symbol' placeholder="AAPL or 'Apple'">
    <button ng-click='getQuote(symbol)' class="btn btn-info" type="button">Search</button>
  </div>
  <br>
  <div class="container-fluid home-jumbo">
    <br>

    <div class="col-xs-12" ng-show='activeStock'>
      <div id='' class="template posts-body col-xs-10 col-xs-offset-1 row fadeIn animated panel panel-default">
        <div class="message-header panel-heading row">
          <p class="col-xs-6 panel-title"><span class="template-author-name text-success">{{quote.Name}}</span></p>
          <p class="col-xs-6  panel-title text-right "><span class="template-time-stamp text-warning">{{quote.Symbol}}</span></p>
        </div>

        <div class="form-inline hidden edit-row">
          <div class="panel-body form-group col-xs-12">
            <div class="row">
              <input type='text' class="template-edit-message text-warning form-control lead" value="Edit This Message">
              <button class="cancel-btn btn btn-danger pull-right">Cancel</button>
              <button class="save-btn btn btn-success pull-right">Save</button>
            </div>
          </div>
        </div>

        <div class="row post-row">
          <fieldset>
            <div class="panel-body">

              <p class="template-post-message text-primary lead">Last Price: <small class="text-right pull-right text-info">{{quote.LastPrice}}</small></p>
              <p class="template-post-message text-primary lead">Time Stamp: <small class="text-right pull-right text-info">{{quote.Timestamp | date}}</small></p>
              <p class="template-post-message text-primary lead">High: <small class="text-right pull-right text-success">{{quote.High}}</small></p>
              <p class="template-post-message text-primary lead">Low: <small class="text-right pull-right text-danger">{{quote.Low}}</small></p>
              <p class="template-post-message text-primary lead">Open: <small class="text-right pull-right text-warning">{{quote.Open}}</small></p>

            </div>
            <!-- <div class="panel-footer">
              <span>
                <a class='message-footer col-xs-3 col-xs-offset-1'><i class="fa fa-2x fa-search " ng-click='gotoProvile({dbUser})'></i></a>
                <a class='message-footer col-xs-3'><i class="fa fa-2x fa-envelope " ng-click='sendMessage({dbUser})'></i></a>

                <a class='message-footer col-xs-3'><i class="fa fa-2x fa-comment " ng-click='submitComment({dbMessage})'></i></a>
                <a class='message-footer col-xs-2'><i class="fa fa-2x fa-thumbs-up " ng-click='submitLike({dbMessage})'></i></a>
              </span>
            </div> -->
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
